* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}

html,
body {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #e5e5f7;
        opacity: 0.8;
        background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
        background-size: 10px 10px;
}

body>main {
    border: 2px solid gray;
    border-radius: 5px;
    width: 48rem;
    padding: 30px;
    margin: 30px;
    background-color: white;
    
}

header{
    display: flex;
    justify-content: space-between;
}

header >div >img{
    width: 150px;
    border: 1px solid black;
    margin-right: 50px;
}

#full-name {
    font-size: 50px;
}