@import "colors";
@import "mixin";
@import "fonts";

* {
    box-sizing: border-box;
    @include allZero;
    font-family: $primaryFont;
    color: black;
}

html,
body {
    /* display: grid; */
    /*
    Never use display property in html or body
    */
    align-items: center;
    justify-content: center;
    background-color: $wholeBackground;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

body>main {
    border: 2px solid $myGray;
    border-radius: 8px;
    max-width: 55rem;
    padding: 2rem;
    margin: 2rem auto;
    background-color: $myWhite;

}

header {
    display: flex;
    justify-content: space-between;
}

header>div>img {
    width: 9.35rem;
    border: 1px solid $myGray;
    margin-right: 3rem;
    border-radius: 5px;
}

#full-name {
    font-size: 3.125rem;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.details {
    margin-top: 1rem;
    display: flex;
}

h3 {
    font-family: $secondaryFont;
    margin-top: 1rem;
    font-size: 1.3rem;
}

.left {
    margin-right: 2rem;
    width: 50%;
}

.right {
    width: 50%;
}



.position {
    font-family: $secondaryFont;
    margin-bottom: .5rem;
}

.workplace {
    margin-top: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.date-time {
    font-family: $secondaryFont;
    font-size: .6rem;
}

.list-work {
    list-style-type: none;
    font-size: .8rem;

    li{
        @include allZero;
    }
}


.fa-square-facebook:hover {
    color: #3b5998;
}

.fa-github:hover {
    color: #171515;
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-quora:hover {
    color: #b92b27;
}

.fa-medium:hover {
    color: #66cdaa;
}

.fa-whatsapp:hover {
    color: #25D366;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.pillowOutline {
    font-family: $secondaryFont;
    font-size: .8rem;
    margin: .225rem .225rem;
    background-color: $myGray;
    padding: .125rem .225rem;
    border-radius: .225rem;
    color: $myWhite;
}